.contact-page {
    .form-wrap {
        border: 3px $teal solid;
        padding: 1em 2em;
        margin: 40px 40px 60px 0;
        min-height: 400px;
        @include breakpoint(medium down) {
            min-height: auto;
            margin:auto;
         }
    }
    
    .details {
        padding: 1em 2em;
        border: 3px $teal solid;
        margin: 40px 0 40px 40px;
        min-height: 400px;
        @include breakpoint(medium down) {
            min-height: auto;
            margin:auto;
         }
        p {
            display: block;
            @include font('Rubik', 17px, 400);
            margin-bottom: 2em;
            span {
                @include font('Rubik', 17px, 600);
                display: block;
                margin-bottom: 0.2em;
            }
            i {
                font-size: 30px;
                color: $teal;
                display: block;
                text-align: right;
                margin-bottom: 0.3em;
            }
            a {
                color: $black;
                &.social-link {
                    margin: 10px 0 0 10px;
                    border-radius: 50%;
                    border: 1px solid $black;
                    width: 35px;
                    height: 35px;
                    display: inline-block;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: $teal;
                        i {
                            color: $black;
                        }
                    }

                    i {
                        font-size: 16px;
                        text-align: center;
                        line-height: 2em;
                    }
                }
            }
        }
    }
}
