.new-topic-form{
        margin-top:30px;
		background-color: #EBEBEB;
		padding:1em 1.5em;
        margin-bottom:30px;
        display:none;
		label{
			font-size: 18px;
		}
		input, textarea{
			box-shadow:none;
			border:none;
            border-radius: 0!important;
		}
		.button{
			margin-top:20px; 
            
		}
        .reset-form{
            @include font('Rubik', 14px, 400);
            text-decoration: underline;
            outline: none;
            cursor: pointer;
        }
        .is-invalid-input{
            background:$white;
            border: 1px solid red;
            &:focus{
                border: 1px solid gray;
            } 
        }
       
	
}
.discussion-list{
    margin-bottom:20px;
    .discussion-list-single{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:1em;
        border-bottom:1px solid #ddd;
        &:first-child{
            border-top:1px solid #ddd;
        }
        &:last-child{
            border-bottom:none;
        }
        a{
            display: block;
            @include font('Rubik', 18px, 400);
            color:$black;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
           margin:0;
        @include font('Rubik', 14px, 400);
        }
        .comments-num{
            text-align:center;
            @include font('Rubik', 14px, 400);
            i{
                display: block;
                margin-bottom:5px;
            }
           
        }
    }
}
.discussion-archive{
    .entry-content{
        margin-bottom: 30px;
    }
    .newtopic.button{
        color:$black;
    }
}

.discussion-single{
    .entry-content{
       border-bottom:1px solid #ddd;
       padding-bottom:20px;
    }
    h2{
        line-height: 1;
        margin-bottom:0;
    }
    .meta{
        margin-bottom:20px;
        span{
            margin:0;
            @include font('Rubik', 14px, 400);
         }
         i{
             font-size: 8px;
             vertical-align: middle;
         }
    }
}
.specialist-forum{
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}
