.events-list{
    .events-list-single {
        border: #d9d9d9 1px solid;
        .events-list-single-content {
            padding: 2em 0 0 2em;
            color: $black;
            @include breakpoint(medium down) {
                padding: 1em 1em 1em 2em;
            }
            h3 {
                @include font('Rubik', 24px, 500);
                color: $black;
            }
            p {
                @include font('Rubik', 17px, 400);
                color: $black;
                line-height: 1.2em;
            }
           
            .events--info{
                margin-bottom:10px;
                time,span {
                    color: $black;
                    @include font('Rubik', 15px, 400);
                }
                i{
                    margin-left:10px;
                    vertical-align: middle;
                    color:$dark-teal;
                }
            }
            a{
                color:$white;
            }
            
            
                
        }
        img{   
            @include breakpoint(medium down) {
                width:100%;
                max-width:100%;
                max-height:none;
              }
        }
    }
}