.link {
    color: $black;
    @include font('Rubik', 19px, 400);
    border-bottom: 1px solid;
    &:hover {
        border: none;
        color: $black;
    }
}
.hero {
    .slide {
        padding: 11em 0;
        background-position: center center;
        background-size: cover;
        @include breakpoint(medium down) {
            padding: 4em 0;
            margin-top:70px;
            background-position: right center;
        }
    }

    h1 {
        @include font('Secular One', 60px, 400);
        line-height: 64px;
        margin-bottom: 30px;
        @include breakpoint(medium down) {
            @include font('Secular One', 40px, 400);
            line-height: 40px;
        } 
    }
    p {
        @include font('Rubik', 20px, 400);
        line-height: 26px;
        margin-bottom: 30px;
        @include breakpoint(medium down) {
            @include font('Rubik', 16px, 400);
        }
    }
    .link{
        @include breakpoint(medium down) {
            display: inline-block;
            margin-top:20px;
            margin-right:15px;
        }
    }
    .button {
        @include font('Rubik', 19px, 400);
        color: $black;
        margin-left: 15px;
        padding: 0.6em 1em;
        span {
            vertical-align: middle;
        }
    }
}
.home {
    .filter {
        margin-top: -90px;
        z-index: 100;
        position: relative;
        background: #fff;
        @include breakpoint(medium down) {
            margin-top: -50px;
        }
    }
}
.text-row {
    margin-top: 100px;
    @include breakpoint(medium down) {
        margin-top: 30px;
    }
    h2 {
        @include font('Secular One', 36px, 400);
        line-height: 32px;
        position: relative;
        margin-bottom: 40px;
        &:after {
            content: '';
            height: 4px;
            width: 20%;
            background: $teal;
            position: absolute;
            bottom: -20px;
            margin: auto;
            left: 0;
            right: 0;
            display: block;
        }
    }
    p {
        @include font('Rubik', 18px, 400);
        line-height: 24px;
        color: $black;
    }
}

.forum-links{
    .forum-links-item{
        padding:0 1.4em;
        @include breakpoint(medium down) {
           margin-bottom:40px;
        }
    }
    h5{
        @include font('Secular One', 22px, 400);
        line-height: 24px;
        margin-top:15px;
        min-height: 50px;
        @include breakpoint(medium down) {
            min-height: auto;
        }
    }
    i{
        vertical-align: middle;
        font-size: 19px;
    }
}
.articles{
    padding:4em 0;
    @include breakpoint(medium down) {
        padding:1em 0;
        margin-top:30px;
     }
    .articles-link{
        color:$dark-teal;
        @include font('Rubik', 18px, 500);
        @include breakpoint(medium down) {
            @include font('Rubik', 14px, 500);
         }
        i{
            font-size: 20px;
            vertical-align: middle;
            @include breakpoint(medium down) {
                font-size: 14px;
             }
        }
    }
}

.specialist-home{
    background-image: url('../images/ssb.jpg');
    background-size:cover;
    padding:4em 0;
    .specialist-slider-wrap{
        position: relative;
        .arrow-next-spe,.arrow-prev-spe{
            position: absolute;
            top:45%;
            right:-30px;
            cursor: pointer;
            @include breakpoint(medium down) {
                top:auto;
                bottom:-40px;
                right:0;
             }

            i{
                color:$white;
                font-size: 40px;
            }
        }
        .arrow-prev-spe{
            right:auto;
            left:-30px;
            @include breakpoint(medium down) {
                left:00px;
             }

        }
        .slick-slide div{
            outline: none!important;
           
            
        }

    }
   
    h2{
        @include font('Secular One', 26px, 400);
        color:$white;
    }
    .spe-single-slider > a{
        border:1px solid #474C49;
        margin:20px 20px;
        text-align: center;
        display: block; 
        padding:1em 2em;
        height: 300px;
       
        img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin:auto;
            margin-bottom:20px;
        }
        h5{
            @include font('Secular One', 22px, 400);
            color:$white;
        }
        p{
            @include font('Rubik', 16px, 500);
            color:$white;
        }
        span{
            position:absolute;
            bottom:30px;
            left:30px;
            color:$teal;
        }
       
    }
    .button{
        color:$black;
        @include font('Rubik', 16px, 400);
        padding:.8rem .5rem;
        line-height: 1;
        i{
            color:$black;
            font-size: 16px;
            vertical-align: middle;
            margin-top: -4px;
           
        }
        margin:0 15px;
    }
    .link{
        color:$white;
        margin:0 15px;
        @include font('Rubik', 16px, 400);
        transition: all 0.2s ease-in-out;
        @include breakpoint(medium down) {
            display: block;
            margin-top:30px;
    
         }
        i{
            font-size: 18px;
            vertical-align: middle;
            margin-top: -4px;
        }

    }
}


.about-text{
    h4{
        @include font('Secular One', 26px, 400);
    }
    p{
        @include font('Rubik', 17px, 400);
        margin-bottom:0;
    }
    a{
        @include font('Rubik', 17px, 600);
        color:$dark-teal;
        border-bottom:1px solid;
    }
    
}
.goals{
    border:2px solid $teal;
    padding:1em 2em;
    margin-top:2em;
    counter-reset: goal; 
    h4{
        @include font('Secular One', 19px, 400);
        margin-top:-30px;

        span{
            background: $white;
            display: inline-block;
            padding:0 .5em;
        }
    }
    ul{
        list-style-type: none;
        column-count: 2;
        column-gap: 10%;
        margin-top:30px;
        @include breakpoint(medium down) {
            column-count: 1;
         }
        li{
            @include font('Rubik', 16px, 400);
            color: $black;
            margin-bottom:10px;
            &:before{
                counter-increment: goal; 
                content: counter(goal);
                @include font('Rubik', 38px, 400);
                color:$teal;
                height: 70px;
                display: inline;
       
                width:15%;
            }
            span{
                display: block;
                float:left;
                width:85%;
            }
            clear: both;
        }
    }
}

.news{
    background-color: #DFF1F0;
    min-height:525px;
    @include breakpoint(medium down) {
        margin-top:40px;
        min-height: auto;
     }
    .top-news{
        border-bottom:$teal 2px solid;
        h4{
            @include font('Secular One', 19px, 400);
            color:black;
            padding:1em;
            margin:0;
        }
    }
    .news-slider{
        
        margin:0;
        padding:1em;
        div{
            h6{
                @include font('Secular One', 19px, 400);
                color:$black;
            }
            p{
                @include font('Rubik', 16px, 400);
                margin-bottom:10px;

            }
            a{
                color:$dark-teal;
                @include font('Rubik', 15px, 500);
                margin-bottom:30px;
                display: inline-block;
                border-bottom:1px solid transparent;
                &:hover{
                    border-bottom:1px solid;
                }
                span{
                    vertical-align: middle;
                    font-size: 14px;
                   width:10px;
                }
            }
        }
    }
   
}
#hp-counter{
    @include breakpoint(medium down) {
       margin-top:0px;
     }
}
.numbers{
    box-shadow: 0 4px 22px 13px rgba(0, 0, 0, 0.05);
    i{
        @include font('Rubik', 80px, 400);
        color:$teal;
        font-style: normal;
        @include breakpoint(medium down) {
            @include font('Rubik', 60px, 400);
          }
    }
    .number{
        @include font('Rubik', 80px, 400);
        color:$teal;
        @include breakpoint(medium down) {
            @include font('Rubik', 60px, 400);
          }
    }
    p{
        @include breakpoint(medium down) {
           padding:0 30px;
          }
    }
}