.image-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 180px;
    img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        transition: 0.5s all;
        display: block;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        object-fit: cover;
        width: 100%;
        &:hover {
            transform: scale(1.1) translate(45%, -45%);
        }
    }
}
