.join-page {
    padding-bottom:100px;
    .form-wrap {
        padding: 1em 2em;
        margin: 40px 40px 60px 0;
       
        @include breakpoint(medium down) {
            min-height: auto;
            margin:auto;
         }
    }

}
