// post images floating
img.alignright,
figure.alignright {
    float: right;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
}

img.alignleft,
figure.alignleft {
    float: left;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 0;
}

.content-area.offset {
    margin-top: -110px;
    background: $white;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.23);
}
.content-block {
    padding: 2em;
    @include breakpoint(medium down) {
        padding:2em 0 0 0 ;  
      }
}

.guide-list {
    .guide-list-single {
        border: #d9d9d9 1px solid;
        .guide-list-single-content {
            padding: 2em 0 0 2em;
            color: $black;
            @include breakpoint(medium down) {
                padding: 1em 1em 1em 2em;
              }
            a {
                h3 {
                    @include font('Rubik', 17px, 600);
                    color: $black;
                }
                p {
                    @include font('Rubik', 17px, 400);
                    color: $black;
                    line-height: 1.2em;
                }
                time {
                    color: $dark-teal;
                    @include font('Rubik', 17px, 400);
                }
            }     
        }
        img{   
            @include breakpoint(medium down) {
                width:100%;
                max-width:100%;
                max-height:none;
              }
        }
    }
}
.entry-content {
    p {
        @include font('Rubik', 16px, 400);
        line-height: 1.4em;
        a {
            color: $dark-teal;
            &:hover {
                color: $black;
            }
        }
    }
    ul,
    ol {
        margin-right: 2em;
        li {
            @include font('Rubik', 16px, 400);
            line-height: 1.2em;
            margin-bottom: 1em;
        }
    }
    blockquote {
        border: none;
        padding: 20px 15px;
        border-top: 1px solid $teal;
        border-bottom: 1px solid $teal;
        margin: 30px 0;
        p {
            color: $dark-teal;
            @include font('Secular One', 22px, 400);
            text-align: center;
            line-height: 1.2em;
            margin: 0;
        }
    }
}
.news-feed, 
.articles, 
.video-feed{
    .single-post-feed {
        margin-bottom: 40px;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.12);

        .image-wrap {
            position: relative;
            img {
                z-index: 99;
                @include breakpoint(medium down) {
                   min-width:100%;
                 }
            }
            span {
                position: absolute;
                top: 10px;
                left: 0;
                background-color: $dark-teal;
                color: $white;
                @include font('Rubik', 16px, 500);
                padding: 0.3em 0.8em;
                border-radius: 0 10em 10em 0;
                z-index: 100;
            }
        }
        .text {
            padding: 0.5em;
            h2 {
                @include font('Secular One', 19px, 400);
            }
            p {
                @include font('Rubik', 16px, 400);
            }
        }
    }
}
