.specialist-card {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    
    a {
        box-shadow: 0 6px 22px 12px rgba(0, 0, 0, 0.1);
        padding: 2em 1.5em;
        display: block;
        transition: all 0.2s ease-in-out;
        min-height: 355px;
        &:hover {
            box-shadow: 0 6px 22px 12px rgba(0, 0, 0, 0.15);
        }
    }
    h3 {
        @include font('Secular One', 19px, 400);
        color: $black;
        margin-top: 15px;
    }
    p {
        @include font('Rubik', 16px, 400);
    }
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    i {
        position: absolute;
        left: 0.5em;
        bottom: 0.5em;
        color: $teal;
        transition: all 0.2s ease-in-out;
    }
    span.spe-ribbon{
        position: absolute;
        top: 10px;
        left: 0;
        background-color: $dark-teal;
        color: $white;
        @include font('Rubik', 16px, 500);
        padding: 0.3em 0.8em;
        border-radius: 0 10em 10em 0;
        z-index: 100; 
    }
}

.single-specialist {
    aside {
        box-shadow: 0 6px 22px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 330px;
        height: auto;
        @include breakpoint(medium down) {
            max-width: 100%;
            margin-bottom:20px;
         }
        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-top: 1em;
        }
        h3 {
            @include font('Secular One', 19px, 400);
            color: $black;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        a {
            color: $dark-teal;
        }
        div {
            border-top: 1px solid #eee;
            padding: 0.6em 0;
            span {
                color: #909090;
                @include font('Rubik', 16px, 400);
            }
            p {
                color: $black;
                @include font('Rubik', 16px, 400);
                margin: 0;
            }
        }
        .contact-specialist {
            background-color: $teal;
            display: block;
            color: $black;
            @include font('Rubik', 16px, 500);
            padding: 0.7em;

            i {
                vertical-align: middle;
                font-size: 16px;
            }
        }
    }
    .specialist-content {
        box-shadow: 0 6px 22px 12px rgba(0, 0, 0, 0.1);
    }
    .update-card-link {
        margin-bottom: 20px;
        a {
            color: $black;
            @include font('Rubik', 16px, 400);
            span {
                border-bottom: 1px solid;
                &:hover {
                    border: none;
                }
            }
            i {
                font-size: 14px;
                vertical-align: middle;
                padding: 0 0.3em;
            }
        }
    }
    .specialist-form {
        display: none;
        box-shadow: 0 6px 22px 12px rgba(0, 0, 0, 0.1);
    }
}
