form {
    direction: rtl;
    .ltr &{
        direction: ltr;
    }
    input[type='text'],
    input[type='email'],
    input[type='tel'] {
        text-align: right;
        border-radius: 10em;
        border-color: #dddddd;
        box-shadow: none;
        .ltr &{
            text-align: left;
        }
        @include placeholder {
            color: #aaaaaa;
            @include font('Rubik', 16px, 400);
        }
        &:focus {
            box-shadow: none;
        }
        &.wpcf7-not-valid {
            margin-bottom: 0;
            border-color: red;
        }
    }
    textarea {
        border-color: #dddddd;
        height: 80px;
        @include font('Rubik', 16px, 400);
       

        &:focus {
            box-shadow: none;
        }
    }
    label{
        @include font('Rubik', 16px, 400);
    }
    .wpcf7-not-valid-tip {
        @include font('Rubik', 14px, 400);
        margin-bottom: 1rem;
    }
    .wpcf7-response-output {
        @include font('Rubik', 16px, 500);
        padding: 0.5em;
        border: $black 1px solid !important;
        text-align: center;
    }
}