.wp-core-ui .notice.is-dismissible {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: $global-font-size; // Please edit in _mixins.scss
}

.m-20 {
    margin-top: 20px;
}
.m-10 {
    margin-top: 10px;
}
.m-30 {
    margin-top: 30px;
}
.m-40 {
    margin-top: 40px;
}
.m-50 {
    margin-top: 50px;
}
.m-60 {
    margin-top: 60px;
}
.m-70 {
    margin-top: 70px;
}
.m-80 {
    margin-top: 80px;
}
.m-100 {
    margin-top: 100px;
}
.m-120 {
    margin-top: 120px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb-160 {
    margin-bottom: 160px;
}
.p-80 {
    padding: 80px 0;
}
.p-100 {
    padding: 100px 0;
}
.pxy-2 {
    padding: 2em;
}
.py-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.px-2 {
    padding-right: 2em;
    padding-left: 2em;
}

.no-padding {
    padding: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}

h2 {
    @include font('Secular One', 22px, 400);
    color: $black;
}
h3 {
    @include font('Secular One', 20px, 400);
}
p {
    @include font('Rubik', 16px, 400);
    color: $black;
    line-height: 1.2em;
    strong {
        @include font('Rubik', 16px, 500);
    }
}

.button {
    @include font('Rubik', 16px, 400);
    background: $teal;
    border: none;
    padding: 0.5em 2em;
    border-radius: 10em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: $dark-teal;
    }
    &.light{
        border:1px solid $teal;
        background: $white;
        color:$black;
        @include font('Rubik', 16px, 500);
        &:hover{
            color:$white;
            background: $teal;
        }
    }
}

.m-20 {
    margin-top: 20px;
}
.m-10 {
    margin-top: 10px;
}
.m-30 {
    margin-top: 30px;
}
.m-40 {
    margin-top: 40px;
}
.m-50 {
    margin-top: 50px;
}
.m-60 {
    margin-top: 60px;
}
.m-70 {
    margin-top: 70px;
}
.m-80 {
    margin-top: 80px;
}
.m-100 {
    margin-top: 100px;
}
.m-120 {
    margin-top: 120px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb-160 {
    margin-bottom: 160px;
}
.p-80 {
    padding: 80px 0;
}
.p-100 {
    padding: 100px 0;
}

.no-padding {
    padding: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}

.grid-container.wide{
    max-width: 80rem;
}
.bg-gray{
    background-color: #F9F9F9;
}
.callout{
    @include font('Rubik', 16px, 400);
    &.success{
        background-color:$light-teal;
    }
    .close-button{
        left:1rem;
        right:auto;
    }
}

.pagination{
    margin:20px 0 40px 0 ;
    a,span{
        @include font('Rubik', 13px, 400);
        color:$black;
        background: gray;
        width:20px;
        height: 20px;
        display: inline-block;
        i{
            font-size: 10px;
        }

    }
    a{
        color:$black;
        background: $teal;
        transition: all 0.2s ease-in-out;
        &:hover{
            background: $dark-teal;
        }
    }
}

.grecaptcha-badge{
    display:none;
}
.position-relative{
    position:relative;
}
ol,ul{
    overflow-wrap: normal; //safari fix
}