// Loader can be changed. see @
// http://tobiasahlin.com/spinkit/
.se-pre-con {
    // background: url(../images/712.gif) center no-repeat #fff;
    background: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    // top: 0px;
    width: 100%;
    z-index: 9999;
}

.fadeout {
    animation: fadeout 1.2s 1 ease-in-out both;
}

.sk-circle {
    height: 40px;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 40px;
}

.sk-circle .sk-child {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sk-circle .sk-child::before {
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    background-color: #219fc7;
    border-radius: 100%;
    content: '';
    display: block;
    height: 15%;
    margin: 0 auto;
    width: 15%;
}

.sk-circle .sk-circle2 {
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    transform: rotate(330deg);
}

.sk-circle .sk-circle2::before {
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3::before {
    animation-delay: -1s;
}

.sk-circle .sk-circle4::before {
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5::before {
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6::before {
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7::before {
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8::before {
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9::before {
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10::before {
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11::before {
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12::before {
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.loader-wrap{
    margin:auto;
    text-align:center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $teal;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
