.acc-group {
    margin-bottom: 40px;
    h2 {
        margin-bottom: 15px;
    }
    .accordion {
        li {
            border: 1px solid $teal;
            border-bottom: none;

            a {
                border: none;
                background: none;
                @include font('Rubik', 19px, 400);
                color: $black;
                line-height: 1.2em;
                @include breakpoint(medium down) {
                    @include font('Rubik', 15px, 400);
                  }
                &:before {
                    right: auto;
                    left: 1rem;
                    @include breakpoint(medium down) {
                    left:.4rem;
                      }
                }
            }
            &:last-child {
                border-bottom: 1px solid $teal;
            }
            .accordion-content {
                border: none;
                padding: 25px;
                p {
                    @include font('Rubik', 15px, 400);
                    line-height: 1.3em;
                    color: #333;
                }
            }
        }
    }
}
