#comments{
	margin-right:20px;
}
.comments-area{
	color: #3B3B3B;
	margin-top:20px;
	.comments-title{
		border-bottom:3px solid  #3B3B3B;
		padding:.5em 0;
		margin-bottom:40px;
	}
	.comment-body{
		background: #EBEBEB;
		padding: 1em;
	}
	.comment{
		margin-bottom:20px;	
		&.byuser .comment-name{
			&:before{
				content:'verified';
				font-family: 'Material Icons';
				font-size: 20px;
				line-height: 1;
				display: inline-block;
				vertical-align: middle;
				color:$dark-teal;
			}
		}
	}
	
	ul{
		list-style-type:none;
		margin:0;
        &.children{
            margin-right:40px;
        }
	}
	.comment-reply-link{
			color: #3B3B3B;
			border-bottom:2px solid $teal;
			@include font('Rubik', 16px, 400);
			&:hover{
				border-bottom:2px solid #000;
			}
	}
	.comment-meta{
		span{
			display:block;
			line-height:1em;
			
		}
		.comment-name{
			color:$black;
			@include font('Secular One', 20px, 400);
			line-height: 1.3;
			margin-bottom:10px;
		}
		.comment-date{
			color: #aaa;
			@include font('Rubik', 14px, 400);
			margin-bottom:10px;
		}
	}
	.comment-form{
		background-color: #EBEBEB;
		border-top:1px solid #ddd;
		padding:1em 1.5em;
        margin:30px 0;
		h2{
			@include font('Secular One', 20px, 400);
		}
		label{
			@include font('Rubik', 16px, 400);
		}
		input, textarea{
			box-shadow:none;
			border:none;
            border-radius: 0;
		}
		.button{
			margin-top:20px; 
		}
		.cancel-comment-reply{
			a{
				color: #3B3B3B;
				border-bottom:2px solid $teal;
				@include font('Rubik', 16px, 400);
				display: inline;
				&:hover{
					border-bottom:2px solid #000;
				}
			}
		}
	}
	.is-invalid-input:not(:focus){
		background:#fff;
		border:1px solid red;
	}
}
