#filter{
    &:before{
        content:"";
        display:block;
        height:300px; /* fixed header height*/
        margin:-300px 0 0; /* negative fixed header height */
    }
}
.filter {
    border: 3px $teal solid;
    box-shadow: 0 4px 22px 13px rgba(0, 0, 0, 0.05);
    padding: 1em 2em;
    margin-top: 40px;
    
    h4 {
        @include font('Secular One', 24px, 400);
        color: $black;
        line-height: 24px;
        @include breakpoint(medium down) {
            @include font('Secular One', 20px, 400);
        }
    }
    label {
        @include font('Secular One', 15px, 400);
        color: $dark-teal;
    }
    select {
        border-radius: 10em;
        height: 35px;
        border-color: #dddddd;
        @include font('Rubik', 16px, 400);
        @include breakpoint(medium down) {
            @include font('Rubik', 14px, 400);
        }
        
        @include placeholder {
            color: $black;
        }
        &:focus {
            box-shadow: none;
        }
    }
    input[type='text'] {
        border-radius: 10em;
        border-color: #dddddd;
        height: 35px;
        box-shadow: none;
        
        @include placeholder {
            color: #aaaaaa;
            @include font('Rubik', 16px, 400);
            @include breakpoint(medium down) {
                @include font('Rubik', 14px, 400);
            }
        }
    }
    .button {
        background: $dark-teal;
        color: $black;
        @include font('Rubik', 16px, 400);
        border: none;
        border-radius: 10em;
        padding: 0.4em 2em;
        height: 35px;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        @include breakpoint(medium down) {
            @include font('Rubik', 14px, 400);
            width:100%;
        }
    
        &:focus{
            outline: none;
        }
        &:hover {
            background-color: $teal;
            cursor: pointer;
        }
    }
 
}

#specialistsFullList{
    position: absolute;
    background: #fff;
    top: 60px;
    width: 100%;
    text-align: right;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
    transition: top .2s ease-in-out;
    padding: .5em 1em 1em 1em;
    max-height: 250px;
    overflow: scroll;
    list-style-type: none;
    display: none;
    z-index: 200;
    li{
        @include font('Rubik', 16px, 400);
        &:hover{
            background: $teal;
        }
    }
    
   
}