footer{
    background: #161C18;
    padding-top:3em;
    margin-top: 150px;
    .footer-menu{
        list-style-type: none;
        h5{
            @include font('Secular One', 18px, 400);
            color:$white;
        }
        li{
            a{
                color:#E7F5EE;
                @include font('Rubik', 15px, 400);
                display: inline-block;
                &:before{
                    content: '>';
                    color:$teal;
                    font-size: 12px;
                    padding-left: 5px;
                }
            }
        }

    }
    .credits{
       background: #0D100E; 
       margin-top:20px;
       padding:1em;
       color:$white;
       @include font('Rubik', 15px, 400);
       a{
           color:$teal;
       }
    }
}