.off-canvas {
    height: 100%;
}

.top-bar {
    width: 100%;

    &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

.site-header {
    z-index: 150;
    .top-nav {
        margin-right: auto;
    }
    .top-bar-wrap {
        background: $white;
        height: 110px;
        transition: all 0.2s linear;
        padding: 0.5em 2em;
        border-bottom: 4px solid $teal;
        box-shadow: 0 2px 22px 6px rgba(0, 0, 0, 0.1);
    }
    .logo {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        width: 340px;
        height: 80px;
        display: block;
        background-size: 100%;
        text-indent: -9999em;
        margin-top: -30px;
    }
    .menu {
        flex: 1 1 0%;
        margin: 5px auto 0 auto;
        transition: all 0.2s linear;
        li {
            text-align: center;
            a {
                @include font('Rubik', 18px, 400);
                line-height: 32px;

                padding: 0.7em 0.9em 0 1.4em;
                transition: all 0.2s linear;
                color: $black;

                &:hover {
                }
            }
            &.active > a {
                @include font('Rubik', 18px, 400);
                transition: all 0.2s linear;
                color: $teal;
                background: none;
            }
            &.is-active > a {
                background: none;
            }
            &.menu-item-has-children {
                position: relative;
                > a {
                    &:after {
                        content: 'keyboard_arrow_down';
                        font-family: 'Material Icons';
                        display: inline-block;
                        color: $teal;
                        font-size: 22px;
                        vertical-align: middle;
                        padding: 0 5px;
                    }
                }

                &:hover {
                    .submenu {
                        visibility: visible;
                        opacity: 1;
                        transition: all 0.2s ease-in-out;
                    }
                }
                .submenu {
                    visibility: hidden;
                    opacity: 0;
                    padding-top: 20px;
                    position: absolute;
                    top: 50px;
                    margin: 0;
                    right: 0;
                    width: 150%;
                    border: none;
                    background: $white;
                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                    transition: all 0.2s ease-in-out;

                    li {
                        text-align: center;
                        a {
                            border: none;
                            padding: 0.5em 0.8em;
                            display: inline-block;
                            @include font('Rubik', 18px, 400);

                            &:after {
                                display: none;
                            }
                        }
                        &:hover {
                            background-color: $light-teal;
                        }
                    }
                }
            }
        }
    }
}

.asso-button {
    background: $teal;
    @include font('Rubik', 18px, 400);
    padding: 0.5em 1.1em;
    transition: all 0.2s linear;
    color: $black;
    border-radius: 10em;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    span {
        vertical-align: middle;
    }
}
.dropdown-pane {
    border: none;
    padding: 1.5em;
    text-align: center;
    width: 350px;
    .button.dark {
        background: $black;
        color: $white;
        outline: none;
        display: block;
        padding: 0.5rem 1.1rem;
        @include font('Rubik', 16px, 400);
        max-width: 80%;
        margin: auto;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: #333;
        }
        span {
            vertical-align: middle;
            margin: 0 5px;
        }
    }
    .link {
        color: $black;
        @include font('Rubik', 16px, 400);
        margin-top: 10px;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        &:hover{
            border-bottom:$white 1px solid;
        }

       
    }
}
.top-nav {
    text-align: left;
    .social-link {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: inline-block;
        border: 1px solid $black;
        text-align: center;
        margin: 0 3px;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $dark-teal;
            i {
                color: $white;
            }
        }
        i {
            font-size: 14px;
            color: $dark-teal;
            font-style: normal;
        }
    }
    .search-form {
        display: inline-block;
        position: relative;
        margin: 0 3px;
        .search-field {
            border: 1px solid $black;
            display: inline;
            border-radius: 20px;
            height: 30px;
            margin: 0;
        }
        .search-submit {
            display: inline;
            background: none;
            border: none;
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            left: 0;
            cursor: pointer;
            outline: none;
        }
        .search-icon {
            color: $dark-teal;
            position: absolute;
            top: 4px;
            left: 6px;
            font-size: 22px;
        }
    }
}

// TODO  to be done
.top-mobile-header {
    position: fixed;
    transition: top 0.2s ease-in-out;
    top: 0;
    width: 100%;
    z-index: 10;
    &.nav-up {
        top: -150px;
        transition: top 0.2s ease-in-out;
    }
}

.mobile-bar {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    .title-bar-menu {
        text-align: left;
        .ltr & {
            text-align: right;
        }
    }
    .mobile-bar-logo {
        flex-grow: 1;
        a {
            background-image: url('../images/logo.png');
            height: 50px;
            display: block;
            background-size: 100%;
            text-indent: -9999em;
            margin: 20px 10px 0 10px;
            background-repeat: no-repeat;
            display: block;
            width: 200px;
        }
    }
    .mobile-bar-menu {
        align-self: center;
        .menu-icon {
            text-align: left;
            margin: 10px;
            &:after {
                background: #333;
                box-shadow: 0 7px 0 #333, 0 14px 0 #333;
            }
        }
    }
}
.off-canvas {
    opacity: 1;
    background-size: cover;
    width: 100%;
    background-color: $white;
    z-index: 1000;
    transition: all 500ms ease 0s;
    &.is-transition-push {
        z-index: 1000;
    }
    &.position-left {
        overflow-y: visible;
    }

    .off-canvas-list {
        margin: 0 0 0 0;
        padding: 0 0;
        list-style-type: none;
        li.menu-item {
            text-align: center;
            margin: 0;
            border-bottom:$teal 1px solid;
            position: relative;
            &:last-child{
                border:none;
            }
            
            &.menu-item-has-children{
               
                > a {
                    &:after {
                        content: 'keyboard_arrow_down';
                        font-family: 'Material Icons';
                        display: inline-block;
                        color: $teal;
                        font-size: 18px;
                        vertical-align: middle;
                        padding: 5px 5px;
                    }
                }
            }
            a {
                color: $black;
                padding: 10px 0;
                @include font('Rubik', 16px, 400);
                display: block;
                &:focus {
                    outline: none;
                }
            }
            li {
                a {
                    padding: 15px 0;
                }
            }
        }
    }
    .submenu{
        margin: 0;
        opacity: 0;
        width: 100%;
        height: 1px;
        visibility: hidden;
        transition: all 0.2s linear;
        box-shadow: inset 0px 9px 11px -10px rgba(0, 0, 0, 0.21);
        z-index: 3;
        background-color: $light-teal;
        &.active{
            visibility: visible;
            height: auto;
            opacity: 1;
            
        }
    }
    .close-button {
        position: absolute;
        right: 30px;
        width: 20px;
        height: 20px;
        outline: none;
        .ltr & {
            left: -50px;
            right: auto;
        }
        span {
            font-size: 30px;
            color: $white;
        }
    }
    .button{
        width:100%;
        color:$white;
        border-radius: 0;
        display: block;
        text-align: center;
        span{
            vertical-align: middle;
            margin:5px;
        }
    }
    .link{
        padding:.5em .4em 0 .4em;
        text-align:center;
        display:inline-block;
        @include font('Rubik', 16px, 400);
    }
}
