.side-bar {
    background-color: $light-teal;
    padding: 2em;
    @include breakpoint(medium down) {
        display: none;
      }

    h3 {
        @include font('Secular One', 19px, 400);
        color: $black;
        border-bottom: 3px solid $black;
        padding: 5px 15px;
        margin-bottom: 20px;
    }
    ul {
        margin: 0;
        padding: 0 15px;
        list-style-type: none;
        li {
            margin: 8px 0;
            a {
                @include font('Rubik', 17px, 400);
                color: $black;
            }
            &.active {
                a {
                    @include font('Rubik', 17px, 600);
                    color: $teal;
                }
            }
        }
    }
}
