.page-top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(medium down) {
       margin-top:70px;
      
     }
    &.tall {
        min-height: 280px;
        justify-content:flex-start;
        padding-top:55px;
        background-image: url('../images/top_page_high.jpg');
        @include breakpoint(medium down) {
            min-height: 200px;
            padding-top:15px;
          }
    }
    &.short {
        min-height: 140px;
        background-image: url('../images/top_page_short.jpg');
        
    }
    h1 {
        @include font('Secular One', 36px, 400);
        color: $white;
        margin:0;
        @include breakpoint(medium down) {
            @include font('Secular One', 26px, 400);
            line-height: 1.2;
          }
    }
    h5{
        @include font('Secular One', 24px, 400);
        color: $white;
    }
}
